body{
    background-color:#80808f;
    padding:0px;
    margin:0px;
    overflow-x:hidden;
}
#header{
    background-image:url("../images/bihomeBanner.png");
    background-size:contain;
    background-repeat:no-repeat;
    width:100vw;
    height:calc(100vw / (1920 / 300));
    padding:0px;
    margin:0px;
    /*image size is 1920x300*/
    text-align:left;
    padding-left:calc(100vw / (42 + (2 / 3)));
}
#header p{
    position:relative;
    top:calc(100vw / (1920 / 300) - 2 * (100vw / (1920 / 40)));
    margin:0px;
    font-size:calc(100vw / (1920 / 40));
    height:calc(100vw / (1920 / 40));
}
#header p a{
    color:#000;
    font-family:'Times New Roman', Times, serif;
}
#homewrapper{
    font-family:'Helvetica', 'Arial', sans-serif;
    font-size:24pt;
    width:100%;
    padding:0px;
}
.center{
    text-align:center;
}
.divimagelink div{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    text-align:center;
    background-repeat:no-repeat;
    display:inline-block;
    color:#000;
    font-family:'Times New Roman', Times, sans-serif;
}
.divimagelink div#about{
    background-image:url("../images/home.jpg");
    background-size:cover;
    background-position-x:80%;
}
.divimagelink div#green{
    background-image:url("../images/field.jpg");
    background-size:cover;
}
.divimagelink div#homes{
    background-image:url("../images/house.jpeg");
    background-size:cover;
    background-position-x:40%;
}
#hometable td{
    width:calc((1 / 3) * 100vw);
    height:calc(100vh - (100vw / (1920 / 300)));
}