body{
    background-color:#6baf5d;
    color:#000;
    overflow-x:hidden;
    padding:0px;
    margin:0px;
    font-family: "Open Sans",sans-serif;
}
#header{
    background-color:#000;
    background-image:url("../images/bihomeBanner.png");
    background-size:contain;
    background-repeat:no-repeat;
    width:100vw;
    height:calc(100vw / (1920 / 300));
    padding:0px;
    margin:0px;
    /*image size is 1920x300*/
    text-align:left;
    padding-left:calc(100vw / (42 + (2 / 3)));
}
#header p{
    position:relative;
    top:calc(100vw / (1920 / 300) - 3 * (100vw / (1920 / 40)));
    margin:0px;
    font-size:calc(100vw / (1920 / 40));
    height:calc(100vw / (1920 / 40));
}
#header p a{
    color:#000;
    font-family:"Times New Roman", Times, sans-serif;
}
#wrapper{
    font-family:"Open Sans",sans-serif;
    padding:0px 30px;
}
#content{
    padding-left:30px;
}
h1{
    font-size:36pt;
}
h2{
    font-size:30pt;
}
h3{
    font-size:26pt;
}
td{
    font-size:20pt;
}
p{
    font-size:20pt;
}
.center{
    text-align:center;
}
.left{
    text-align:left;
}
.right{
    text-align:right;
}
div div:has(div.content) {
    text-align:center;
}
div div div.content {
    display:inline;
}
.houseimage{
    width:50%;
}
.img-right{
    float:right;
}
.img-left{
    float:left;
}
.t-image{
    height:300px;
}
hr{
    border:none;
    border-bottom:#333 solid 5px;
}
a{
    color:#000;
    size:20pt;
}
table tbody tr td{
    padding:0 20px;
}