body{
    background-color:#80808f;
    color:#000;
    overflow-x:hidden;
    padding:0px;
    margin:0px;
}
#header{
    background-color:#000;
    background-image:url("../images/bihomeBanner.png");
    background-size:contain;
    background-repeat:no-repeat;
    width:100vw;
    height:calc(100vw / (1920 / 300));
    padding:0px;
    margin:0px;
    /*image size is 1920x300*/
    text-align:left;
    padding-left:calc(100vw / (42 + (2 / 3)));
}
#header p{
    position:relative;
    top:calc(100vw / (1920 / 300) - 3 * (100vw / (1920 / 40)));
    margin:0px;
    font-size:calc(100vw / (1920 / 40));
    height:calc(100vw / (1920 / 40));
}
#header p a{
    color:#000;
    font-family:"Times New Roman", Times, sans-serif;
}
.center{
    text-align:center;

}
#wrapper{
    padding:0px 30px;
}
#content{
    padding-left:30px;
}
p{
    font-size:20pt;
}
div div:has(div.content) {
    text-align:center;
}
div div div.content {
    display:inline;
}
.houseimage{
    width:50%;
}