body{
    background-color:#80808f;
    color:#000;
    overflow-x:hidden;
    padding:0px;
    margin:0px;
}
/*Size of image is 1827 × 1008*/
#homeimage{
    background-size:contain;
    background-repeat:no-repeat;
    width:100vw;
    height:calc(100vw / (1812 / 1008));
}
#homeimage.h11{
    background-image:url("../images/11.png");
}
#homeimage.h12{
    background-image:url("../images/12.png");
}
#homeimage.h21{
    background-image:url("../images/21.png");
}
#homeimage.h22{
    background-image:url("../images/22.png");
}
#homeimage.h31{
    background-image:url("../images/31.png");
}
#homeimage.h32{
    background-image:url("../images/32.png");
}
.red{
    color:#f00;
}
#backbtn{
    position:fixed;
    top:25px;
    left:25px;
}
#backbtn a{
    font-size:20pt;
    text-decoration:none;
}