<!DOCTYPE html>
<html>
    <head>
        <title>View Home | Bihome</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../../src/css/viewhome.css">
    </head>
    <body>
        <div id="backbtn">
            <a class="red" href="#" onclick="window.location.replace('../index.html');">X</a>
        </div>
        <div id="homeimage"></div>
        <script>
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has("house")) {
                var h = urlParams.get("house");
                if (h == 11 || h == 12 || h == 21 || h == 22 || h == 31 || h == 32) {
                    document.getElementById("homeimage").classList.add("h" + String(h));
                } else {
                    window.location.replace("../index.html");
                }
            } else {
                window.location.replace("../index.html");
            }
        </script>
    </body>
</html>