.menu-button-container .bar1, .menu-button-container .bar2, .menu-button-container .bar3 {
    height:3px;
    width:30px;
    background-color:#000;
    margin:3px 0;
    transition:1s;
}
.menu-button-container{
    margin-right:15px;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    float:left;
}
.menu-button-container.menu-open {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.menu-button-container.menu-open .bar1 {
    transition:1s;
    transform:rotate(45deg) translate(8px, 0px);
    background-color:red;
}
.menu-button-container.menu-open .bar2 {
    transition:1s;
    opacity:0%;
    transform:translate(0px, 0px);
    background-color:red;
}
.menu-button-container.menu-open .bar3 {
    transition:1s;
    transform:rotate(-45deg) translate(8px,0px);
    background-color:red;
}